<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test HTML</title>
    <link rel="stylesheet" href="../bower_components/angular-ui-select/dist/select.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="css/styles.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body ng-app="app">

    <div class="test" ng-controller="ctrl">
      <ui-select ng-model="selected.value">
        <ui-select-match>
          <span ng-bind="$select.selected.name"></span>
        </ui-select-match>
        <ui-select-choices repeat="item in (itemArray | filter: $select.search) track by item.id">
          <span ng-bind="item.name"></span>
        </ui-select-choices>
      </ui-select>
    </div>

    <div ng-controller="CommentsCtrl">
      <div>
        <input type="text" ng-model="query" />
        {{query}}
        <select ng-model="order">
          <option value="username">Organiser par nom</option>
          <option value="content">Organiser par contenu</option>
        </select>
      </div>
      <div>
        <div ng-repeat="comment in comments | filter: query | orderBy: order">
          <p>
            <strong>{{comment.username}} : </strong>
            {{comment.content}}
          </p>
        </div>
      </div>
    </div>


    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-ui-select/dist/select.js" charset="utf-8"></script>
    <script>
      var app = angular.module('app', ['ui.select']);

      angular.module('app')
      .controller('ctrl', ['$scope', function ($scope){
        $scope.itemArray = [
          {id: 1, name: 'first'},
          {id: 2, name: 'second'},
          {id: 3, name: 'third'},
          {id: 4, name: 'fourth'},
          {id: 5, name: 'fifth'},
        ];

        $scope.selected = { value: $scope.itemArray[0] };
      }])


      .controller('CommentsCtrl', function($scope) {

        $scope.comments = [
        {
          "username": "Hewitt",
          "city": "Levant",
          "email": "<TypeError: undefined is not a function>",
          "content": "Ad velit sint esse quis incididunt quis quis labore magna consequat qui fugiat eiusmod. Aute in reprehenderit sint dolore magna consectetur do ea ipsum ullamco sunt. Mollit mollit velit est eiusmod sit culpa ea eiusmod laborum nostrud id. Veniam pariatur excepteur aliqua magna. Adipisicing excepteur officia dolore sint minim non occaecat dolore."
        },
        {
          "username": "Trina",
          "city": "Warren",
          "email": "<TypeError: undefined is not a function>",
          "content": "Excepteur irure irure cillum ex occaecat nulla pariatur nostrud. Sunt dolore commodo consectetur dolor. Pariatur elit enim voluptate eu et ad ipsum in. Voluptate elit laborum excepteur ea eu. Adipisicing commodo culpa adipisicing labore ullamco dolor sunt nulla nisi amet ipsum proident incididunt velit."
        },
        {
          "username": "Livingston",
          "city": "Jugtown",
          "email": "<TypeError: undefined is not a function>",
          "content": "Irure consectetur commodo elit est cupidatat est consectetur cillum excepteur aliqua eiusmod. Quis aute sit eiusmod aliquip aliquip. Est aute veniam consequat eiusmod adipisicing Lorem amet consequat tempor magna qui. Sunt minim proident sint voluptate enim occaecat aliqua irure in. Officia occaecat ad laborum proident."
        },
        {
          "username": "Regina",
          "city": "Woodlands",
          "email": "<TypeError: undefined is not a function>",
          "content": "Commodo occaecat quis sint laborum. Voluptate aliqua dolor aliquip incididunt ullamco enim. Reprehenderit elit dolore veniam est labore ipsum minim non ut anim. Cupidatat dolore reprehenderit ut dolor anim dolor duis. Ad cillum consectetur dolore dolore in proident elit."
        },
        {
          "username": "Essie",
          "city": "Maury",
          "email": "<TypeError: undefined is not a function>",
          "content": "Id ex consequat reprehenderit fugiat magna voluptate consectetur commodo cupidatat adipisicing eiusmod aliquip non. Laboris magna velit pariatur culpa pariatur ipsum cupidatat culpa consequat do nulla qui. Anim nisi minim est est. Veniam velit minim reprehenderit mollit nisi dolore culpa ipsum eiusmod do adipisicing. Magna ex sint eu amet pariatur excepteur magna ullamco ut officia qui nostrud."
        },
        {
          "username": "Lorrie",
          "city": "Davenport",
          "email": "<TypeError: undefined is not a function>",
          "content": "Mollit proident amet aliquip eu voluptate nulla cillum veniam. Dolor exercitation cupidatat officia eiusmod adipisicing enim. Deserunt sit proident ipsum qui Lorem tempor. Nisi eiusmod veniam esse adipisicing voluptate nulla occaecat eiusmod ad aute consectetur quis sit. Esse ullamco sint culpa id."
        },
        {
          "username": "Heath",
          "city": "Finzel",
          "email": "<TypeError: undefined is not a function>",
          "content": "Pariatur pariatur aute sunt cillum aute Lorem nostrud adipisicing sit nostrud ad id. Eiusmod exercitation tempor eiusmod labore id consequat fugiat non amet Lorem. Aliquip amet laboris incididunt reprehenderit. Minim laborum id sint amet. Adipisicing ea aliquip tempor esse."
        },
        {
          "username": "Nielsen",
          "city": "Foscoe",
          "email": "<TypeError: undefined is not a function>",
          "content": "Eu duis nostrud culpa nisi non ipsum aute do officia eu eu ad do mollit. Ad aliquip reprehenderit consequat Lorem est. Elit officia cillum cillum ipsum aliquip. Aliqua sunt veniam deserunt exercitation aute elit cupidatat labore elit ut. Et nisi occaecat est aliquip labore dolore tempor amet ullamco nulla laborum consectetur excepteur."
        }
        ];


      });


    </script>
  </body>
</html>
